<div class="row col-xs-12">
  <div class="col-xs-4 panel-container">
    <div class="panel-inner">
      <div class="menu-border-bottom"><app-menu></app-menu></div>
      <div>
        <mat-vertical-stepper
          [linear]="isLinear"
          #stepper
          style="background: transparent; color:#ddd;"
        >
          <mat-step [stepControl]="" [completed]="false">
            <ng-template matStepLabel
              ><label class="txt-header">Deploy Air Base</label></ng-template
            >
            <div style="margin-top:-15px;">
              <form #d="ngForm" (ngSubmit)="deplAirBase(d.value)">
                <div class="row">
                  <div class="col-md-6">
                    <table width="100%">
                      <tr>
                        <td style="padding-top: 20px;">
                          <mat-radio-button
                            value="optSelect"
                            name="optSelect"
                            (click)="getBaseList(2)"
                            >WL Base</mat-radio-button
                          >
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table width="100%">
                      <tr>
                        <td style="padding-top: 20px;">
                          <mat-radio-button
                            value="optSelect"
                            name="optSelect"
                            (click)="getBaseList(3)"
                            >DL Base</mat-radio-button
                          >
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field style="width: 100%;">
                      <mat-label>Select Airbase</mat-label>
                      <mat-select [(ngModel)]="baseId" name="baseId">
                        <mat-option
                          *ngFor="let list of baseList"
                          [value]="list.elementId"
                        >
                          {{ list.elementName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-6">
                    <mat-form-field style="width: 100%;">
                      <input
                        matInput
                        placeholder="Ex Name"
                        id="exName"
                        [(ngModel)]="exName"
                        name="exName"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field style="width: 100%;">
                      <input
                        matInput
                        placeholder="Lattitude"
                        id="baseLat"
                        [(ngModel)]="baseLat"
                        name="baseLat"
                      />
                      
                    </mat-form-field>
                  </div>
                  <div class="col-xs-6">
                    <mat-form-field style="width: 100%;">
                      <input
                        matInput
                        placeholder="Longitude"
                        id="baseLng"
                        [(ngModel)]="baseLng"
                        name="baseLng"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div> 
                  <table width="100%">
                    <tr>
                      <td class="pull-left">
                        <div class="outerBS pull-center">
                          <button type="submit" class="btnSubmit">S</button>
                        </div>
                        <div class="txt9 pull-center">Submit</div>
                      </td>
                      <td class="txt10 pull-center">{{ backend_resp }}</td>
                      <td class="pull-right">
                        <div class="outerBS pull-center">
                          <button type="button" class="btnSubmit">R</button>
                        </div>
                        <div class="txt9 pull-center">Reset</div>
                      </td>
                    </tr>
                  </table>
                </div>
              </form>
            </div>
          </mat-step>
          <mat-step [stepControl]="" [completed]="false">
            <ng-template matStepLabel
              ><label class="txt-header">Air Base Details</label></ng-template
            >
            <div>
              ABCD
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>
  <div class="col-xs-8 map-container">
    <agm-map
      [latitude]="latCen"
      [longitude]="lngCen"
      [zoom]="zoom"
      [styles]="mapMode"
      (mapClick)="getLocation($event)"
    >
      <agm-circle
        [latitude]="latCen"
        [longitude]="lngCen"
        [circleDraggable]="false"
        [editable]="false"
        [fillColor]=""
        [fillOpacity]="0"
        [radius]="900000"
        [strokeOpacity]="0.1"
        [strokePosition]="0"
        [strokeWeight]="2"
        [strokeColor]="'#fff'"
        [clickable]="true"
        (circleClick)="getLocation($event)"
      >
      </agm-circle>
      <agm-circle
        *ngFor="let layout of arrElementData"
        [latitude]="layout.lat"
        [longitude]="layout.lng"
        [circleDraggable]="false"
        [editable]="false"
        [fillColor]="
          layout.origin == 1 ? 'blue' : layout.origin == 2 ? '#f00' : '#ff0'
        "
        [fillOpacity]="layout.origin == 1 ? 0.3 : 0.2"
        [radius]="layout.rad"
        [strokeOpacity]="layout.origin == 1 ? 0.8 : 0.8"
        [strokePosition]="0"
        [strokeWeight]="layout.origin == 1 ? 0.7 : 0.7"
        [strokeColor]="
          layout.origin == 1 ? '#777' : layout.origin == 2 ? '#777' : '#777'
        "
        [clickable]="true"
      >
      </agm-circle>
      <agm-marker
        *ngFor="let data of arrElementLabel"
        [latitude]="data.lat"
        [longitude]="data.lng"
        [visible]="true"
        [label]="{
          color: '#666',
          fontSize: '8px',
          text: data.elementName
        }"
        [iconUrl]="{
          scale: 0,
          fillColor: '#FF6347',
          labelOrigin: { x: 60, y: -70 },
          path: 'M0 0 L0 0 L0 0 Z'
        }"
      ></agm-marker>
      <!--   -->
    </agm-map>
  </div>
</div>
